$black-color: #222222;
$main-color: #F16D7F;
$hover-color: #EF5B70;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
        width: 1140px;
    margin: 0 auto;
    
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header {
    background: $black-color;
    
}
.header-col-1 {
    display: flex;
    align-items: center;
}
.head-logo {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
    
}
.head-search {
    background-color: transparent;
    border-color: transparent;
    border: none;
}
.head-search:hover {
    cursor: pointer;
}
.search-svg {
    fill: #e8e8e8;
}
.head-search:hover .search-svg{
    fill: $main-color;
}
.header-col-2 {
    display: flex;
    align-items: center;
}
.menu-but {
    border-color: transparent;
    border: none;
    background-color: transparent;
}
.menu-but:hover .search-svg {
    fill: $main-color;
}
.menu-but:hover {
    cursor: pointer;
}
.profile {
        padding-left: 33px;
}
.profile:hover .search-svg {
    fill: $main-color;
}
.cart {
    
    padding-left: 33px;
}
.cart:hover .search-svg {
    fill: $main-color;
}
.offer {
        background: #F1E4E6;
}
.offer-wrap {
    height: 765px;
background-image: url(../img/man.png);
background-repeat: no-repeat;
background-position: -225px;
background-position-y: bottom;
display: flex;
align-items: center;
justify-content: flex-end;


}
.offer-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
        color: $black-color;
       border-left: 12px solid $main-color; 
       padding-left: 16px;
       margin-right: 90px;
}
.offer-title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.offer-title--pink {
    color: $main-color;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    left: -99999px;
}
.catalog-title {
    background-color: #F8F3F4;
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-arrivals {
    font-family: Lato;
    font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: $main-color;
}
.catalog-bread-box {
    display: flex;
    justify-content: space-around;
}
.catalog-bread {
    font-family: Lato;
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
}
.catalog-bread:hover {
    color: $main-color;
    text-decoration: underline;
}

.bread-arrivals {
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: $main-color;
}
.bread-arrivals:hover {
    color: $black-color;
}
.categories {
    padding-top: 65px;
    padding-bottom: 85px;
}
.categories-wrap {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category-item {
background-color: #C4C4C4;
width: 360px;
height: 260px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.category-item--women {
background-image: url(../img/forwomen.jpg);
}
.category-item--men {
background-image: url(../img/formen.jpg);
}
.category-item--kids {
background-image: url(../img/forkids.jpg);
}
.category-item--acc {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background-image: url(../img/acsessories.jpg);
}
.categories-sale {
    font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
font-family: Lato;
font-style: normal;
font-weight: normal;
}
.categories-text {
    font-family: Lato;
font-style: normal;
font-weight: normal;
    font-size: 24px;
line-height: 29px;
text-align: center;

color: $main-color;
}
.cart-sec {
    min-height: 998px;
    
}
.registration {
    min-height: 675px;
}
.registration-block {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.registration-form {
    width: 360px;
}
.cart-item-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    
}
.cart-feature-item {
        margin-top: 96px;
        display: flex;
    justify-content: space-between;
}

.cart-content {
    margin-left: 31px;
}
.cart-header {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
}
.cart-delete {
    background-color: transparent;
    border:  none;
    width: 18px;
    height: 18px;
    margin-left: 57px;
    margin-right: 28px;
}

.cart-item {
    display: flex;
    margin-bottom: 40px;
    width: 652px;
    height: 306px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart-h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $black-color;
    margin-bottom: 42px;
}
.cart-img {
    background-color: #5D5D5D;
}
.cart-p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}
.cart-price {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: $hover-color;
}
.cart-buttons {
    display: flex;
    justify-content: space-between;
}
.cart-button:hover {
background-color: $hover-color;
cursor: pointer;
}
.cart-quantity {
    display: flex;
    justify-content: space-between;
}
.cart-p1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-right: 100px;
}
.cart-button {
    width: 235px;
    height: 50px;
    border: 1px solid rgb(131, 130, 130);
    background-color: transparent;

}
.cart-form {
    width: 360px;
    height: 272px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 128px;
}
.adress-shipping {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: $black-color;
}
.cart-input {
    width: 360px;
    height: 45px;
    border: 1px solid #B1B1B1;
    margin-top: 20px;
    padding: 20px;
}
.cart-input:hover {
            background-color: #e4e4e4;
       
}
.cart-input:focus {
    border: 1px solid #000000;
    outline: none;
    padding: 20px;
}
.cart-input::placeholder {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #B1B1B1;
padding: 10px;
}
.cart-confirm {
    width: 101px;
    height: 35px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
background-color: transparent;
border: 1px solid #B1B1B1;
margin-top: 23px;
}
.cart-confirm:hover {
    background-color: $hover-color;
    cursor: pointer;
    color: white;
    border-color: white;
}
.cart-buying {
    width: 360px;
    height: 214px;
    margin-top: 57px;
    background: #F5F3F3;
    margin-left: 128px;
    text-align: right;
}
.confirm-form {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.confirm-h3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
margin-right: 34px;
}
.confirm-h3-div {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-top: 39px;
}
.confirm-h2-div {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-top: 12px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 21px;
    margin-left: 42px;
    margin-right: 42px;
}
.confirm-h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
        color: $black-color;
        margin-right: 34px;
}
.confirm-h2-pink {
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: $main-color;

}
.confirm-button {
    width: 273px;
    height: 50px;
    background-color: $main-color;
    margin-top: 17px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
border: none;
color: #FFFFFF;
margin-right: 43px;
}
.confirm-button:hover {
    background-color: white;
    color: $main-color;
    border: 1px solid $main-color;
}
.feature-products-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-products--h2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: $black-color;
}
.feature-products--p {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #9F9F9F;
margin-bottom: 18px;
}

.feature-products--list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-products--item {
    background: #F8F8F8;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 586px;
    margin-top: 30px;
}

.feature-item-h3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
/* identical to box height */
color: #000000;
margin-top: 25px;
margin-left: 17px;
}
.feature-item-p1 {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin-left: 17px;
margin-top: 13px;
}
.feature-item-p2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: $main-color;
margin-left: 17px;
margin-top: 18px;
}
.feature-center {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
border: 1px solid #F26376;
color: #F26376;
margin-top: 48px;
width: 212px;
height: 48px;
margin-bottom: 95px;
padding-top: 14px;
text-decoration: none;
}
.feature-center:hover {
    background-color: $main-color;
    color: #FFFFFF;  
}
.filter {
    display: flex;
    text-align: left;
    align-items: center;
    min-height: 132px;
    align-self: flex-start;

}
.filter-but {
    width: 360px;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.filter-sizes {
    width: 360px;
    display: flex;
    margin-left: 30px;
}
.sizes-h3 {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
margin-right: 30px;
border: none;
background-color: transparent;
}
.sizes-h3:hover {
    color: $main-color;
}
.filter-but:hover {
    color: $main-color;
}
.filter-svg {
    fill: $black-color;
}
.filter-but:hover .filter-svg {
    fill: $main-color;
}
.sizes-h3:hover .filter-svg {
    fill: $main-color;
}
.pagination {
    display: flex;
    list-style-type: none;
    width: 284px;
    height: 44px;
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #dbdbdb;
    align-items: center;
    }
.pagination-but {
    width: 28px;
    height: 28px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
display: flex;
  justify-content: center;
  align-items: center;
color: #C4C4C4;
opacity: 0.67;
border: none;
background-color: transparent;
}
.pagination-but:hover {
    color: $hover-color;
}
.toleft-svg {
    fill: $black-color;
}
.pagination-but:hover .toleft-svg {
    fill: $hover-color;
}
.advantages {
    background: $black-color;
    min-height: 341px;
}
.advantages-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advantages-content {
    text-align: center;
}
.adv-img {
    margin-top: 103px;
}
.adv-h3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 19.96px;
line-height: 24px;
/* identical to box height */
color: #FBFBFB;
margin-top: 28px;
}
.adv1-text {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
margin-top: 16px;
margin-bottom: 104px;
}
.registration-radio {
    display: flex;
       margin-bottom: 33px;
        margin-top: 31px;
}
.registration-radio-button {
    margin-right: 10px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
color: #000000;
}
.registration-radio-button2 {
    margin-left: 20px;
    margin-right: 10px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
color: #000000;
}
.registration-p {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #B1B1B1;
margin-top: 15px;
}
.reg-confirm {
    width: 167px;
    min-height: 50px;
    background-color: $main-color;
    color: white;
    border: none;
margin-top: 39px;
}
.reg-confirm:hover {
    background-color: white;
    border: 1px solid $main-color;
    color: $main-color;
}
.totheright-svg {
    fill: white;
}
.reg-confirm:hover .totheright-svg {
    fill: $main-color;
}
.registration-adv-h3 {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.registration-adv-p {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
margin-top: 22px;
}
.registration-adv-ul {
    list-style-type: none;
    margin-top: 21px;
}
.registration-adv-li{
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 40px;
color: #000000;

}
.liststylereg {
    margin-right: 23px;
}
.torightreg {
    margin-left: 20px;
    }
.registration-adv {
    margin-left: 128px;
        width: 652px;
}
.feedback {
    background-image: url("../img/feedbackback.svg");
    min-height: 448px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}
.feedback-trans {
    background: rgba(244, 244, 244, 0.7); 
}
.feedback-wrap {
    display: flex;
    justify-content: space-around;
}
.feedback-left {
    text-align: center;
    padding-bottom: 126px;
}
.face {
    margin-top: 97px;
}
.interests-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 80px;
    color: #222224;
    width: 400px;
}
.interests-text--cursive {
    font-style: italic;
}
.register {
    display: flex;
    border-radius: 10px;

}
.feedback-header {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 167.2%;
/* or 40px */
margin-top: 150px;
text-align: center;
color: #222224;
}
.subscribe {
    font-weight: bold;
font-size: 24px;
}
.register-form {
    width: 356px;
    display: flex;
    margin-top: 32px;

}
.register-input {
padding: 20px;
width: 255px;
border-radius: 27px 0 0 27px;
border: none;
background-color: #E1E1E1;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #222224;;
}
.register-input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}
.register-input:hover{
    background-color: #bbb8b8;
}
.register-input:focus {
    border: 1px solid $main-color;
    outline: none;
}
.register-but {
padding: 20px;
border-radius: 0 27px 27px 0;
border: none;
background-color: $main-color;
color: #FFFFFF;
font-weight: normal;
font-size: 14px;
line-height: 17px;
}
.register-but:hover {
    background-color: #d14252;
}
.footer {
    background: $black-color;
    
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
}
.footer-copy {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
padding-top: 30px;
padding-bottom: 30px;
color: #FBFBFB;
}
.footer-contacts {
    display: flex;
    list-style-type: none;
    
}
.footer-but {
    background: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 7px;
    border: 0px  transparent;
    height: 32px;
    width: 32px;
    color: #000;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
    }
.footer-but:hover {
    color: #FFFFFF;
    background: $main-color;
}   

