@import "_vars.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
        width: 1140px;
    margin: 0 auto;
    
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    left: -99999px;
}
/* Блок header */
@import "block/_header.scss";

/* Блок Offer(предложение) */
@import "block/_offer.scss";
// Блок слайдера

@import "block/_slider.scss";

/* Блок Каталога */
@import "block/_catalog.scss";

// Блок корзины и форм регистрации
@import "block/_cart.scss";

// Блок товаров 
@import "block/_features.scss";

// Блок преимуществ
@import "block/_advantages.scss";

// Блок Обратной связи
@import "block/_feedback.scss";

// Блок подвала сайта
@import "block/_footer.scss";  

@media (max-width: 1200px) {
    .wrapper {
        width: 735px;
    }
    
    .adv-text {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .interests-text {
        min-width: 650px;
        padding-left: 0;
    }
    .advantages-wrap {
        display: block;
    }
    .feedback-wrap {
        display: block;
        text-align: center;
        align-items: center;
    }
    .feedback-form {
        padding-bottom: 50px;
    }
    .feedback-left {
        padding-bottom: 0;
    }
    .register-form {
        padding-left: 183px;
    }
    .offer-wrap {
        height: 367px;
        background-image: url(../img/mediaoffer.png);
        background-position: -110px;
    }
    .category-item {
        margin-bottom: 15px;
    }
    .category-item--acc {
        margin-top: 0;
    }
    .offer-title {
        margin-right: 0;
    }
}
@media (max-width: 750px) {
    .wrapper {
        width: 345px;
    }
    
    .advantages-wrap {
        display: block;
        }
    .adv-text {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .feedback-wrap {
        display: block;
    }
    .offer-wrap {
        background-image: none;
    }
    .advantages-wrap {
        display: block;
    }

    .feedback-wrap {
        display: block;
        text-align: center;
        align-items: center;
    }
    .feedback-form {
        padding-bottom: 50px;
    }
    .feedback-left {
        padding-bottom: 0;
    }
    .interests-text {
        min-width: 0;
        padding-left: 0;
    }
    .register-form {
        padding-left: 0px;
    }
    .footer-wrap {
        flex-direction: column-reverse;
        align-items: center;
    }
}