.feature-products-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-products--h2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: $black-color;
}
.feature-products--p {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #9F9F9F;
margin-bottom: 18px;
}
.product-overlay {
    transform: scale(0);
    background-color: #3a383886;
    left: 0;
    top: 0;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.7s;
}
.feature-products--item:hover .product-overlay {
    transform: scale(1);
}
.overlay {
    width: 139px;
    height: 44px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
border: 1px solid white;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
transition: 0.3s;
}
.overlay:hover {
    cursor: pointer;
    background-color: #f263769f;
}
.overlay:active {
    transform: scale(0.9);
}
.overlay:hover .overlay-svg{
fill: white;
}
.overlay-svg {
    fill: white;
    margin-right: 10px;
    transition: 0.3s;
}
.feature-products--list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-products--item {
    background: #F8F8F8;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 586px;
    margin-top: 30px;
    position: relative;
}

.feature-item-h3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
/* identical to box height */
color: #000000;
margin-top: 25px;
margin-left: 17px;
}
.feature-item-p1 {
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin-left: 17px;
margin-top: 13px;
}
.feature-item-p2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: $main-color;
margin-left: 17px;
margin-top: 18px;
}
.feature-center {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
border: 1px solid #F26376;
color: #F26376;
margin-top: 48px;
width: 212px;
height: 48px;
margin-bottom: 95px;
padding-top: 14px;
text-decoration: none;
transition: 0.3s;
}

.feature-center:hover {
    background-color: $main-color;
    color: #FFFFFF; 
    transform: scale(1.3); 
}
.feature-center:active {
    transform: scale(0.9);
}
.filter {
    display: flex;
    text-align: left;
    align-items: center;
    min-height: 132px;
    align-self: flex-start;

}
.filter-but {
    width: 360px;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #000000;
transition: 0.3s;
list-style-type: none;

}
.filter-sizes {
    width: 360px;
    display: flex;
    margin-left: 30px;
}
.sizes-h3 {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
margin-right: 30px;
border: none;
background-color: transparent;
transition: 0.3s;
}
.sizes-h3:hover {
    color: $main-color;
    cursor: pointer;
}

.filter-but:hover {
    color: $main-color;
    cursor: pointer;
}
.filter-svg {
    fill: $black-color;
    transition: 0.3s;
}
.filter-but:hover .filter-svg {
    fill: $main-color;
    cursor: pointer;
}
.sizes-h3:hover .filter-svg {
    fill: $main-color;
}
.pagination {
    display: flex;
    list-style-type: none;
    width: 284px;
    height: 44px;
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #dbdbdb;
    align-items: center;
    }
.pagination-but {
    width: 28px;
    height: 28px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
display: flex;
  justify-content: center;
  align-items: center;
color: #C4C4C4;
opacity: 0.67;
border: none;
background-color: transparent;
transition: 0.3s;
}
.pagination-but:hover {
    color: $hover-color;
    cursor: pointer;
}
.toleft-svg {
    transition: 0.3s;
    fill: $black-color;
}
.pagination-but:hover .toleft-svg {
    fill: $hover-color;
    cursor: pointer;
}
.filter-but[open] .filter-svg {
    transform: rotatex(180deg);
}
.filter-but[open] {
    color: $main-color;
}