.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header {
    background: $black-color;
    position: relative;
}
.header-col-1 {
    display: flex;
    align-items: center;
}
.head-logo {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
    transition: 0.3s;
}
.head-logo:hover {
    transform: scale(1.2);
}
.head-logo:active {
transform: scale(0.9);
}
.head-search {
    background-color: transparent;
    border-color: transparent;
    border: none;
    transition: 0.3s;
}
.head-search:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.head-search:active {
    transform: scale(0.9);
    }
.search-svg {
    fill: #e8e8e8;
    transition: 0.3s;
}
.head-search:hover .search-svg{
    fill: $main-color;
    transform: scale(1.2);
}
.header-col-2 {
    display: flex;
    align-items: center;
}
.menu-but {
    border-color: transparent;
    border: none;
    background-color: transparent;
    transition: 0.3s;
}
.menu-but:hover .search-svg {
    fill: $main-color;
    transform: scale(1.2);
}
.menu-but:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.menu-but:active {
    transform: scale(0.9);
    }
.profile {
        padding-left: 33px;
        transition: 0.3s;
}
.profile:hover .search-svg {
    fill: $main-color;
    transform: scale(1.2);
}
.profile:active {
    transform: scale(0.9);
    }
.cart {
    
    padding-left: 33px;
    transition: 0.3s;
}
.cart:hover .search-svg {
    fill: $main-color;
    transform: scale(1.2);
}
.cart:active {
    transform: scale(0.9);
    }
// .menu-overlay {
//     width: 232px;
//     height: 764px;
//     top: 75px;
//     right: 0;
//     // display: none;

// }
// .overlay-close {
//     padding-left: 200px;
// }
.filter {
    
        box-sizing: border-box;
    position: relative;
    outline: none;
    border: none;
  }
  ::-webkit-details-marker {display: none;}
  
  .filter[open] {
    padding-left: 10px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    color: $main-color;
  }
  .filter[open] .filter-but {
    color: $main-color;
    fill: $main-color;
    outline: none;
    
  
  }
  
  .fiter-content {
    position: absolute;
    min-height: 150px;
    width: 360px;
    background-color: white;
    left: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 1;
    
    padding: 16px;
  }
  .filter-list {
    display: block;
        list-style-type: none;
        padding: 15px 0;
                
  }
  .filter-link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #6F6E6E;
    
  }
  .filter-but2 {
    width: 330px;
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #000000;
transition: 0.3s;
list-style-type: none;
border-left: 10px solid $main-color;
border-bottom: 1px solid #EBEBEB;
    padding-right: 16px;
    height: 37px;
    padding: 11px;
    cursor: pointer;
}
.filter-but2:hover {
    color: $main-color;
}
.filter-but2[open] {
    color: $main-color;
        
}
.filter-link:hover {
    color: $main-color;
    text-decoration: underline;
}
.main-menu {
    background-color: white;
    width: 235px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 40px 36px;
    position: absolute;
    right: 0;
    top: 100%;
    min-height: 763px;

}
.main-menu-list {
    list-style: none;
}
.main-menu-submenu {
    list-style: none;
    padding-left: 20px;
}
.main-menu-item {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
margin-bottom: 25px;
text-decoration: none;
}
.main-menu-link {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
color: #6F6E6E;
text-decoration: none;
margin-bottom: 15px;
}
.main-menu-title {
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 25px;
}
.main-menu-block {
    position: relative;
}
.main-menu-close-but {
    position: absolute;
    right: -15px;
    top: -15px;
width: 12px;
height: 12px;
border: none;
background-color: transparent;

}
.main-menu-close-but-svg {
    fill: #6F6E6E;
    transition: 0.3s;
}
.main-menu-close-but:hover .main-menu-close-but-svg {
    fill: $main-color;
}
.main-menu-close-but:hover {
    cursor: pointer;
}
.main-menu-open {
    display: block;
}
.main-menu-close {
    display: none;
}
.main-menu-link:hover {
    text-decoration: underline;
    color: $main-color;
}